{%- macro ini_block(value, key=None, operator=' = ', delim='') -%}
    {%- if value != None -%}
        {%- if value is number or value is string -%}
{{key}}{{operator}}{{value}}{{delim}}
        {%- elif value is mapping %}
{{'[' ~ key ~ ']'}}
            {%- for k,v in value.items() %}
{{ini_block(v, k, operator, delim)}}
            {%- endfor %}
        {%- elif value is iterable -%}
            {%- for v in value %}
{{ini_block(v, key, operator, delim)}}
            {%- endfor %}
        {%- else -%}
{{key}}{{operator}}{{value}}{{delim}}
        {%- endif -%}
    {%- endif -%}
{%- endmacro -%}

{# merge dict 'b' into 'a' with no overriding values in 'a' with 'b' one #}
{% macro deep_merge(a, b) %}
    {% for k,v in b.items() %}
        {% if v is mapping %}
            {% if a[k] is not mapping: %}
                {% do a.update({k: {}}) %}
            {% endif %}
            {% do deep_merge(a[k], v) %}
        {% else %}
            {% if k not in a %}
                {% do a.update({k: v}) %}
            {% endif %}
        {% endif %}
    {% endfor %}
{% endmacro %}
